<!DOCTYPE html>
<html>
    <head>

    </head>
<body>

<section class="contact_banner">
<div class="contact_us">
<div class="them animate__animated animate__backInDown">
<h1 class="text-white">Contact us</h1>
<h5 class="text-white">We would love to hear from you. We also welcome ideas for the site</h5>
</div>
</div>
</section>

<section class="container">
    <div class="row mt-5">
        <div class="col-lg-4 text-center">
            <h4 class="text-success">Get in touch</h4>
            <hr class="line3">
            <p>Tel: 06193010400</p>
            <p> Office Hours: 8:30am to 16:00pm</p>
            <p>Email: info@simpletocketscience.com</p>
        </div>
        <div class="col-lg-4 text-center">
            <h4 class="text-success">Learn</h4>
            <hr class="line3">
            <p>Get a chance to connect with other scholars and sponsors. Share your talent and knowledge with the world.Live a life full of purpose</p>
        </div>
        <div class="col-lg-4 text-center">
            <h4 class="text-success">Connect </h4>
            <hr class="line3">
            <p>Get a chance to connect with other scholars and sponsors. Share your talent and knowledge with the world. Live a life full of purpose</p>
        </div>
    </div>
</section>


<section class="container contact_form">
<h1 class="mt-3 text-success text-center">Get in touch with us</h1>
<hr class="line2 mt-5">
<%= form_tag @contact do %>
    <div class="well row">
        <div class="name col-lg-6">
        <%= label_tag :firstname %>
        <%= text_field_tag 'firstname',nil, class:'form-control input', placeholder:'Firstname' %>
        </div>
        <div class="name col-lg-6">
        <%= label_tag :Lastname %>
        <%= text_field_tag 'lastname',nil, class:'form-control input', placeholder:'Lastname' %>
        </div>
    </div>
    <div class="well row mt-4">
        <div class="email col-lg-6">
        <%= label_tag :Email %>
        <%= text_field_tag 'Email',nil, class:'form-control input', placeholder:'Email address' %>
        </div>
        <div class="phone col-lg-6">
        <%= label_tag :Telephone %>
        <%= text_field_tag 'telephone',nil, class:'form-control input', placeholder:'Telephone number' %>
        </div>
    </div>
    <div class="well row mt-4">
        <div class="subject col-lg-6">
        <%= label_tag :Subject %>
        <%= text_field_tag 'subject',nil, class:'form-control input', placeholder:'Subject' %>
        </div>
        <div class="service col-lg-6">
        <%= label_tag :Service %>
        <%= select_tag("Sevices", options_for_select([['Select', 3],['Motivation', 1], ['Soft skill', 2], ['Biotechnology Tutoring', 2]], 3), :class=> 'form-control') %>
        </div>
    </div>
    <div class="well row mt-4">
        <div class="message col-lg-12">
        <%= label_tag :Message %>
        <%= text_area_tag 'messages',nil, class:'form-control input', placeholder:'Message...' %>
        </div>
    </div>
    <div class="sub_btn d-flex justify-content-center">
        <%= submit_tag nil, class:'btn btn-primary mt-3 custom-btn' %>
    </div
<% end %>
</section>

</body>
</html>